{% extends 'base.html' %}


{% block content %}
<h1 id="label">{{ coral.trade_name}}</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ coral.scientific_name}}</span>
        <p>Type: {{ coral.coral_type }}</p>
        <p>Difficulty: {{ coral.difficulty }}</p>
        <p>Lighting: {{ coral.lighting }}</p>
        <p>Water Flow: {{ coral.water_flow }}</p>
        <p>Notes: {{ coral.notes }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'corals_update' coral.id %}">Edit</a>
        <a href="{% url 'corals_delete' coral.id %}">Delete</a>
      </div>    
</div>

{% endblock  %}
    